{
  "http_interactions": [
    {
      "recorded_at": "2017-11-17T15:19:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/user/repos?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":106814824,\"name\":\"python-test\",\"full_name\":\"bimboslaff/python-test\",\"owner\":{\"login\":\"bimboslaff\",\"id\":32512262,\"avatar_url\":\"https://avatars3.githubusercontent.com/u/32512262?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/bimboslaff\",\"html_url\":\"https://github.com/bimboslaff\",\"followers_url\":\"https://api.github.com/users/bimboslaff/followers\",\"following_url\":\"https://api.github.com/users/bimboslaff/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/bimboslaff/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/bimboslaff/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/bimboslaff/subscriptions\",\"organizations_url\":\"https://api.github.com/users/bimboslaff/orgs\",\"repos_url\":\"https://api.github.com/users/bimboslaff/repos\",\"events_url\":\"https://api.github.com/users/bimboslaff/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/bimboslaff/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/bimboslaff/python-test\",\"description\":null,\"fork\":false,\"url\":\"https://api.github.com/repos/bimboslaff/python-test\",\"forks_url\":\"https://api.github.com/repos/bimboslaff/python-test/forks\",\"keys_url\":\"https://api.github.com/repos/bimboslaff/python-test/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/bimboslaff/python-test/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/bimboslaff/python-test/teams\",\"hooks_url\":\"https://api.github.com/repos/bimboslaff/python-test/hooks\",\"issue_events_url\":\"https://api.github.com/repos/bimboslaff/python-test/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/bimboslaff/python-test/events\",\"assignees_url\":\"https://api.github.com/repos/bimboslaff/python-test/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/bimboslaff/python-test/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/bimboslaff/python-test/tags\",\"blobs_url\":\"https://api.github.com/repos/bimboslaff/python-test/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/bimboslaff/python-test/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/bimboslaff/python-test/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/bimboslaff/python-test/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/bimboslaff/python-test/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/bimboslaff/python-test/languages\",\"stargazers_url\":\"https://api.github.com/repos/bimboslaff/python-test/stargazers\",\"contributors_url\":\"https://api.github.com/repos/bimboslaff/python-test/contributors\",\"subscribers_url\":\"https://api.github.com/repos/bimboslaff/python-test/subscribers\",\"subscription_url\":\"https://api.github.com/repos/bimboslaff/python-test/subscription\",\"commits_url\":\"https://api.github.com/repos/bimboslaff/python-test/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/bimboslaff/python-test/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/bimboslaff/python-test/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/bimboslaff/python-test/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/bimboslaff/python-test/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/bimboslaff/python-test/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/bimboslaff/python-test/merges\",\"archive_url\":\"https://api.github.com/repos/bimboslaff/python-test/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/bimboslaff/python-test/downloads\",\"issues_url\":\"https://api.github.com/repos/bimboslaff/python-test/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/bimboslaff/python-test/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/bimboslaff/python-test/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/bimboslaff/python-test/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/bimboslaff/python-test/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/bimboslaff/python-test/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/bimboslaff/python-test/deployments\",\"created_at\":\"2017-10-13T11:14:01Z\",\"updated_at\":\"2017-10-13T11:14:01Z\",\"pushed_at\":\"2017-10-13T11:14:03Z\",\"git_url\":\"git://github.com/bimboslaff/python-test.git\",\"ssh_url\":\"git@github.com:bimboslaff/python-test.git\",\"clone_url\":\"https://github.com/bimboslaff/python-test.git\",\"svn_url\":\"https://github.com/bimboslaff/python-test\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":false,\"push\":true,\"pull\":true}},{\"id\":106814839,\"name\":\"python-test2\",\"full_name\":\"bimboslaff/python-test2\",\"owner\":{\"login\":\"bimboslaff\",\"id\":32512262,\"avatar_url\":\"https://avatars3.githubusercontent.com/u/32512262?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/bimboslaff\",\"html_url\":\"https://github.com/bimboslaff\",\"followers_url\":\"https://api.github.com/users/bimboslaff/followers\",\"following_url\":\"https://api.github.com/users/bimboslaff/following{/other_user}\",\"gis[...]
[...]
