{
  "http_interactions": [
    {
      "recorded_at": "2017-11-17T15:19:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/MarekSuchanek/labelord/labels?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":730291000,\"url\":\"https://api.github.com/repos/MarekSuchanek/labelord/labels/bug\",\"name\":\"bug\",\"color\":\"ee0701\",\"default\":true},{\"id\":730291001,\"url\":\"https://api.github.com/repos/MarekSuchanek/labelord/labels/duplicate\",\"name\":\"duplicate\",\"color\":\"cccccc\",\"default\":true},{\"id\":730291002,\"url\":\"https://api.github.com/repos/MarekSuchanek/labelord/labels/enhancement\",\"name\":\"enhancement\",\"color\":\"84b6eb\",\"default\":true},{\"id\":730291004,\"url\":\"https://api.github.com/repos/MarekSuchanek/labelord/labels/good%20first%20issue\",\"name\":\"good first issue\",\"color\":\"7057ff\",\"default\":true},{\"id\":730291003,\"url\":\"https://api.github.com/repos/MarekSuchanek/labelord/labels/help%20wanted\",\"name\":\"help wanted\",\"color\":\"33aa3f\",\"default\":true},{\"id\":730291006,\"url\":\"https://api.github.com/repos/MarekSuchanek/labelord/labels/invalid\",\"name\":\"invalid\",\"color\":\"e6e6e6\",\"default\":true},{\"id\":730291008,\"url\":\"https://api.github.com/repos/MarekSuchanek/labelord/labels/question\",\"name\":\"question\",\"color\":\"cc317c\",\"default\":true},{\"id\":730291010,\"url\":\"https://api.github.com/repos/MarekSuchanek/labelord/labels/wontfix\",\"name\":\"wontfix\",\"color\":\"ffffff\",\"default\":true}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"27b25aa5f00dcf9b4837b9e731f8e2e9\"",
          "Status": "200 OK",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; format=json",
          "X-OAuth-Scopes": "public_repo",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4914",
          "X-RateLimit-Reset": "1510932147"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/labelord/labels?per_page=100&page=1"
      }
    },
[...]
