{
  "http_interactions": [
    {
      "recorded_at": "2017-11-17T15:19:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Testing 2\", \"color\": \"ababab\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "PATCH",
        "uri": "https://api.github.com/repos/MarekSuchanek/labelord/labels/Testing"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":753520416,\"url\":\"https://api.github.com/repos/MarekSuchanek/labelord/labels/Testing%202\",\"name\":\"Testing 2\",\"color\":\"ababab\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"dc0282b9a9ff2b9b969f4af8d795a818\"",
          "Status": "200 OK",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json",
          "X-OAuth-Scopes": "public_repo",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4908",
          "X-RateLimit-Reset": "1510932147"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/labelord/labels/Testing"
      }
    },
[...]
    {
      "recorded_at": "2017-11-17T15:27:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Testing 2\", \"color\": \"ababab\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "PATCH",
        "uri": "https://api.github.com/repos/MarekSuchanek/labelord/labels/Testing"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":753527535,\"url\":\"https://api.github.com/repos/MarekSuchanek/labelord/labels/Testing%202\",\"name\":\"Testing 2\",\"color\":\"ababab\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"e38358f43072df77ff32b279d5f00180\"",
          "Status": "200 OK",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json",
          "X-OAuth-Scopes": "public_repo",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4988",
          "X-RateLimit-Reset": "1510935883"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/labelord/labels/Testing"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}