{
  "http_interactions": [
    {
      "recorded_at": "2017-11-17T15:19:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "DELETE",
        "uri": "https://api.github.com/repos/MarekSuchanek/labelord/labels/Testing%202"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Content-Type": "application/octet-stream",
          "Status": "204 No Content",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json",
          "X-OAuth-Scopes": "public_repo",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4904",
          "X-RateLimit-Reset": "1510932147"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/labelord/labels/Testing%202"
      }
    },
[...]
    {
      "recorded_at": "2017-11-17T15:27:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "DELETE",
        "uri": "https://api.github.com/repos/MarekSuchanek/labelord/labels/Testing%202"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Content-Type": "application/octet-stream",
          "Status": "204 No Content",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json",
          "X-OAuth-Scopes": "public_repo",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4984",
          "X-RateLimit-Reset": "1510935883"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/labelord/labels/Testing%202"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}