{
  "http_interactions": [
    {
      "recorded_at": "2017-11-17T15:19:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Testing\", \"color\": \"aaaaaa\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "POST",
        "uri": "https://api.github.com/repos/MarekSuchanek/labelord/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":753520416,\"url\":\"https://api.github.com/repos/MarekSuchanek/labelord/labels/Testing\",\"name\":\"Testing\",\"color\":\"aaaaaa\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"12ac13b2b80fc03404fe0952d6003c26\"",
          "Location": "https://api.github.com/repos/MarekSuchanek/labelord/labels/Testing",
          "Status": "201 Created",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json",
          "X-OAuth-Scopes": "public_repo",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4912",
          "X-RateLimit-Reset": "1510932147"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/labelord/labels"
      }
    },
[...]
    {
      "recorded_at": "2017-11-17T15:27:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Testing\", \"color\": \"aaaaaa\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "POST",
        "uri": "https://api.github.com/repos/MarekSuchanek/labelord/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":753527535,\"url\":\"https://api.github.com/repos/MarekSuchanek/labelord/labels/Testing\",\"name\":\"Testing\",\"color\":\"aaaaaa\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"b4c35e44e3538e3a934f81bda440c3f1\"",
          "Location": "https://api.github.com/repos/MarekSuchanek/labelord/labels/Testing",
          "Status": "201 Created",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json",
          "X-OAuth-Scopes": "public_repo",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4992",
          "X-RateLimit-Reset": "1510935883"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/labelord/labels"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}