{
  "http_interactions": [
    {
      "recorded_at": "2017-11-17T15:19:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <BAD_TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/MarekSuchanek/labelord/labels?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://developer.github.com/v3\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "401 Unauthorized",
          "X-GitHub-Media-Type": "github.v3; format=json",
          "X-RateLimit-Limit": "60",
          "X-RateLimit-Remaining": "31",
          "X-RateLimit-Reset": "1510932149"
        },
        "status": {
          "code": 401,
          "message": "Unauthorized"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/labelord/labels?per_page=100&page=1"
      }
    },
[...]
    {
      "recorded_at": "2017-11-17T15:27:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token "
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/MarekSuchanek/labelord/labels?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://developer.github.com/v3\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "401 Unauthorized",
          "X-GitHub-Media-Type": "github.v3; format=json",
          "X-RateLimit-Limit": "60",
          "X-RateLimit-Remaining": "57",
          "X-RateLimit-Reset": "1510936039"
        },
        "status": {
          "code": 401,
          "message": "Unauthorized"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/labelord/labels?per_page=100&page=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}