{
  "http_interactions": [
    {
      "recorded_at": "2017-11-17T15:19:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "DELETE",
        "uri": "https://api.github.com/repos/MarekSuchanek/adsw51dwa1d5123aa/labels/Testing%202"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "404 Not Found",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; format=json",
          "X-OAuth-Scopes": "public_repo",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4902",
          "X-RateLimit-Reset": "1510932147"
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/adsw51dwa1d5123aa/labels/Testing%202"
      }
    },
[...]
    {
      "recorded_at": "2017-11-17T15:27:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "DELETE",
        "uri": "https://api.github.com/repos/MarekSuchanek/adsw51dwa1d5123aa/labels/Testing%202"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "404 Not Found",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; format=json",
          "X-OAuth-Scopes": "public_repo",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4982",
          "X-RateLimit-Reset": "1510935883"
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/adsw51dwa1d5123aa/labels/Testing%202"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}