{
  "http_interactions": [
    {
      "recorded_at": "2017-11-17T15:19:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Testing 2\", \"color\": \"aaaxxx\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "PATCH",
        "uri": "https://api.github.com/repos/MarekSuchanek/labelord/labels/Testing%202"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Validation Failed\",\"errors\":[{\"resource\":\"Label\",\"code\":\"invalid\",\"field\":\"color\"}],\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#update-a-label\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "422 Unprocessable Entity",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json",
          "X-OAuth-Scopes": "public_repo",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4906",
          "X-RateLimit-Reset": "1510932147"
        },
        "status": {
          "code": 422,
          "message": "Unprocessable Entity"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/labelord/labels/Testing%202"
      }
    },
[...]
    {
      "recorded_at": "2017-11-17T15:27:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Testing 2\", \"color\": \"aaaxxx\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "PATCH",
        "uri": "https://api.github.com/repos/MarekSuchanek/labelord/labels/Testing%202"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Validation Failed\",\"errors\":[{\"resource\":\"Label\",\"code\":\"invalid\",\"field\":\"color\"}],\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#update-a-label\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "422 Unprocessable Entity",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json",
          "X-OAuth-Scopes": "public_repo",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4986",
          "X-RateLimit-Reset": "1510935883"
        },
        "status": {
          "code": 422,
          "message": "Unprocessable Entity"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/labelord/labels/Testing%202"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}